.TodoItem {
  background-color: #BFBFBF; /* estilo dark */
  color: #F2F2F2;
  position: relative;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: 24px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  width: 400px;   /* ancho fijo */
  height: 20px;   /* alto dinámico */
  padding: 16px;  /* espacio interno */
  border-radius: 12px;
  border: 2px solid #00ffcc;
  word-wrap: break-word; /* evita que se desborde el texto */
}


.TodoItem-p {

    flex: 1;                    /* texto ocupa el espacio sobrante */
  margin: 0 10px;             /* espacio entre texto e íconos */
  word-wrap: break-word;
}
.TodoItem-p--complete {
    text-decoration: line-through;
}

.Icon {
    cursor: pointer;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 20px;
    font-weight: bold;

}

.Icon-check {
   cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-right: 5px;  /* separación del texto */
}
.Icon-check--active {

    color: #268038;
}

.Icon-delete {
    position: absolute;
    top: -15px;
    right: 0;

}
.Icon-delete:hover {

    color: red;
}

