


.todo-form {
  position: fixed; /* lo hace flotar en la ventana */
  top: 200px;       /* distancia desde arriba */
  left: 20%;       /* lo mueve hacia la derecha */
  transform: translateX(-50%); /* lo centra en su posición */
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 9999; /* se asegura de estar encima */
}



.alert--active{
    color: white;
    background-color: red;
    font-size: 0.2rem;
    margin:0.5rem auto;
    font-weight: bold;
    width: 10rem;
    text-align: center;
}

.textarea__modal{
   
    display: block;
    min-width: 25rem;
    height: 6rem;
    margin: 0.5rem auto 1rem;
    padding: 0.6rem;
    border-style: hidden;
    font-size: 1.1rem;
    font-weight: 300;
    resize: none;

    &:focus{
        outline-color: #BFE2FF;
    }
}



.modal__div__button__container {
    background-color: #00B026;  /* probando cambion*/
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
    gap: 2rem;
/*     left: 0;
    width: 100%;
    height: 6.5rem;
    border-radius: 0 0 2rem 2rem;
    */
}

.modal__div__button {
    background-color: #00B026;
    width: 7rem;
    height: 2.5rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 0.6rem;
    border-radius: 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        background-color: #b2c481;
        color: rgb(37, 37, 37);
        box-shadow: rgba(0, 0, 0, 0.15) -2.6px -1.95px 1.95px ;
    }

    &:active{
        transform: translateY(4px);
    }
}

.clean {
    background-color: rgb(151, 30, 30);

    &:hover{
        background-color: rgb(245, 155, 155);
    }
}

.button__close {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 0;
    
    &:active{
        background-color: #ee8b84;
    }
}