body {
  margin: 0;
  padding: 0;
  background: transparent !important; /* 🔥 deja ver el fondo */
}

.app-content {
  position: relative;
  z-index: 1;
  background: transparent; /* también transparente */
}
