



.todo-search-container {
    
    display: flex;
    margin-left: 200px;
    margin-top: 80px;
  }
  .todo-search-input{
    width: 40%;
    height: 10px;
    border: 2px solid #00ffcc;
    font-Size: 20PX;
    text-Align: center;
    align-items: center;
    margin-left: 500px;
    padding: 20px;
    color:black;
    background: #BFBFBF;
    opacity: 0.5;
    
}